// Variables
//––––––––––––––––––––––––––––––––––––––––––––––––––

// Breakpoints
$bp-larger-than-mobile    : "min-width: 400px" !default;
$bp-larger-than-phablet   : "min-width: 550px" !default;
$bp-larger-than-tablet    : "min-width: 750px" !default;
$bp-larger-than-desktop   : "min-width: 1000px" !default;
$bp-larger-than-desktophd : "min-width: 1200px" !default;

// Colors
$light-grey: #efefef !default;
$dark-grey: #333 !default;
$primary-color: #bf0000 !default;
$secondary-color: lighten($dark-grey, 13.5%) !default;
$border-color: #bbb !default;
$link-color: #1eaedb !default;
$font-color: #222 !default;
$box-shadow-color: darken($light-grey, 10%);
$main-color: #c00000 !default;
$white: #fff;
$dark: #262626;
$background-color: #EFEFEF;
$btn-color: #555555;
$light-brown: #bdbdbd;

// Typography
$font-family: "Raleway", "HelveticaNeue", "Helvetica Neue", Helvetica, Arial, sans-serif !default;

//Grid Variables
$container-width: 1900px !default;
$container-width-larger-than-mobile: 98% !default;
$container-width-larger-than-phablet: 98% !default;
$total-columns: 12 !default;
$column-width: 100 / $total-columns !default; // calculates individual column width based off of # of columns
$column-margin: 1% !default; // space between columns
$box-shadow: 0 1px 2px 0 rgba(0,0,0,0.22);

// Misc
$global-radius: 4px !default;
$height-10: 10px;
$height-20: 20px;
$height-30: 30px;
$height-40: 40px;
$height-50: 50px;
$height-60: 60px;
$height-100: 100px;
$search-button-size: 35px;
