@import 'skeleton';
@import 'vendor/animated';
@import 'modules/header';

body {
  background: $light-grey;
}

body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $white;
  min-width: 320px;
  width: 100%;
  height: auto;

  a {
    text-decoration: none !important;
  }

  button {
    position: relative;
  }

  select {
    /*for firefox*/
    -moz-appearance: none !important;
    /*for chrome*/
    -webkit-appearance: none !important;
    position: relative;
  }

  ul {
    margin: 0;
    li {
      list-style-type: none;
    }
  }
}

.home-page {

}

form {
  div {
    position: relative;
  }
  input[type=search] {
    text-indent: $search-button-size;
  }
  button {
    padding: 0 .5em;
    position: absolute;
    width: $search-button-size;
    &.button-primary {
      left: 0;
    }
    &.button-secondary {
      right: 0;
    }
  }
}

.search-page {
  padding: 2em 0;
  .search-page__filter {
    .search-page__filter__title {
      h4 {
        color: #fff;
        background: $main-color;
        text-align: center;
        font-size: 1.2em;
        margin-bottom: 0;
        padding: .5em 1em;
      }
    }
  }

  .search-page__results {
    padding: 1em;
  }
}
