@import 'skeleton';
@import 'vendor/loader';
@import 'vendor/font-awesome-extend';
@import 'vendor/font-awesome-mixin';
@import 'modules/header';


body, html {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: $background-color;
  min-width: 320px;
  width: 100%;
  height: auto;

  a {
    text-decoration: none !important;
  }

  button {
    position: relative;
  }

  select {
    /*for firefox*/
    -moz-appearance: none !important;
    /*for chrome*/
    -webkit-appearance: none !important;
    position: relative;
  }

  ul {
    margin: 0;
    li {
      list-style-type: none;
    }
  }
}

.home-page {

}

// Search Form

form {
  div {
    position: relative;
  }
  input[type=search],
  input[type=search]:focus {
    border: 2px solid $primary-color;
    text-indent: $search-button-size;
    margin-bottom: 0;
  }
  button {
    background-color: transparent;
    border: 0;
    color: $dark-grey;
    font-size: 1.25em;
    margin: 0;
    padding: 0 .5em;
    position: absolute;
    width: $search-button-size;
    &:first-of-type {
      background: $primary-color;
      color: $white;
      left: 0;
    }
    &:last-of-type {
      right: 0;
    }
  }
}


.search-page {
  .search-page__filter {
    box-shadow: $box-shadow;
    padding: 1em;
    background: $white;
    .search-page__filter__title {
      span {
        text-transform: uppercase;
        font-size: 1.4em;
        color: $dark-grey;
        width: 100%;
        height: $height-40;
        line-height: $height-40;
        box-sizing: border-box;
        display: inline-block;
        border-bottom: 2px solid $main-color;
        margin-bottom: 0;
      }
    }
    .search-page__filter__content {
      background: $white;
      box-sizing: border-box;
      padding: .5em;
      min-height: 40em;
    }
  }

  .search-page__results {
    background-color: $white;
    padding: 1em;
    box-shadow: $box-shadow;
    .search-page__results__menubar {
      height: $height-40;
      line-height: $height-40;
      border-bottom: 2px solid $main-color;
      position: relative;
    }

    .search-page__results__title {
      text-transform: uppercase;
      font-size: 1.4em;
      color: $dark-grey;
    }

    .search-page__results__gridicon {
      top: 0;
      right: 0;
      position: absolute;
      span {
        display: inline-block;
        width: $height-40;
        height: 38px;
        line-height: $height-40;
        background-color: $light-brown;
        color: $white;
        box-sizing: border-box;
        text-align: center;
        margin-left: .2em;
        font-size: 1.5em;
        &.active {
          background: $main-color;
        }
      }
    }
    .search-page__results__lists {
      min-height: 40em;
    }
  }
}

// Icons

.list-icon {
  @include fa-icon(th-list);
}

.box-icon {
  @include fa-icon(th-large);
}

.search-icon {
  @include fa-icon(search);
}

.settings-icon {
  @include fa-icon(cog);
}

.loading-icon {
  width: 100%;
  box-sizing: border-box;
  text-align: center;

  div {
    @include loader1(1.1em, 10px, $main-color, 15%);
  }
}
