$logo-size: 38px;

header {
  margin-bottom: 1%;
  background: $white;
  padding: 1em 0;
  box-shadow: $box-shadow;
  h1 {
    background: url('../images/logo.png') no-repeat;
    background-size: auto 100%;
    height: $logo-size;
    position: relative;
    text-indent: -500px;
    margin-bottom: .3em;
    @media (#{$bp-larger-than-phablet}) {
      margin-bottom: 0;
    }
  }
}
